<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!home">Catalogo | Productos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!home">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!direccionar">Panel Administracion</a></li>

            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="button" ng-click="logout()">
                    <i class="bi-cart-fill me-1"></i>
                    Cerrar Sesion
                </button>
            </form>
        </div>
    </div>
</nav>


<section class="py-5" style="min-height: 100vh;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" ng-src="{{product.producto[0].image}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{product.producto[0].name}}</h1>
                <div class="fs-5 mb-5">
                    <span>Categoria:</span>
                    <span>{{product.producto[0].category[1]}}</span>
                </div>
                <p class="lead"></p>
                <div class="d-flex">
                
                    <a href="#!home" class="btn btn-outline-dark flex-shrink-0" type="button" style="margin-left:1rem;">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

